/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: gray;
  }

body > div{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 20px;
    border: 1px solid #ffd24a;

    box-shadow: 0 0 6px rgba( 0, 0, 0, 0.2 );
  }

header {
    background-color: #ff8523;
    padding: 2em;
    /*check out span for having the header background fill the entire page?? */
  }

li {
    font-weight: bold;
  }

table, tr, td {
  border: 1px solid #1fabe5;
  border-collapse: collapse;
  }
  thead {
    color: white;
    background-color: #1fabe5;
    
  }

form {
  background-color: #eee;
  padding: 2em;
  border-radius: 5px;
  }

.main_navigation a {
  padding: 0.25em 1em;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  }

.all_headers {
  color: #1fabe5;
  }

.name {
  background-color: #ff8523;
  padding: 1em;
  border-radius: 5px;
  }

/* review and see if a class can be defined and used to change the font family
for the entire page instead of by individual elements(header, body etc.)*/
