/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  width: 1000px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
  background-color: gray;
  }

body > div {
    margin: 0 10%;
    background: white;
    border: 1px solid #ffd24a;
    box-shadow: 0 0 6px rgba( 0, 0, 0, 0.2 );
      }


section {
  border-bottom: 2px solid gray;
  padding-bottom: 20px;
}

li {
    font-weight: bold;
  }
table {
  width: 100%;
}
table, tr, td {
  border: 1px solid #1fabe5;
  border-collapse: collapse;
  }

  thead {
    color: white;
    background-color: #1fabe5;

  }
  thead th{
    border: 1px solid black;
  }

td > img {
  width: 100px;
  height: 100px;
  padding-top: .75em;
  padding-left: .75em;
}

form {
  background-color: #eee;
  padding: 2em;
  border-radius: 5px;
  }

textarea {
  border: 1px solid #1fabe5;
  width: 100%;

}

  #site_header {
    background-color: #ff8523;

    }

  #page_content {
    padding: 20px;
    }

  #logo {
    display: inline-block;
    padding-left: 1em;
    padding-top: 1.5em;
  }

  #submit_button {
    background-color: #1fabe5;
    color: white;
    border-radius: 5px;
    border: none;
  }
.main_navigation {
  padding: 1em;
}

.main_navigation a {
  padding: 0.25em 1em;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-weight: normal;
  }

.all_headers {
  color: #1fabe5;
  }

.name {
  background-color: #ff8523;
  padding: 1em;
  border-radius: 5px;
  }

.city_container {
  padding-top: 1em;
  padding-bottom: 1em;
}
